@media (min-width: 1200px) {
  .anime-details-container {
    position: relative;
  }
  .anime-details-container .background-image {
    position: relative;
    width: 100vw;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .anime-details-container .gradient-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 25%, #000);
  }
  .anime-details-container .anime-cover-image {
    position: relative;
    bottom: -35%;
    left: 5%;
    display: flex;
  }
  .anime-details-container .anime-cover-image .cover-image {
    max-height: 400px;
    padding-right: 1.5rem;
    margin-top: -10rem;
  }
  .anime-details-container .anime-cover-image .details {
    padding: 1rem;
    padding-top: 5rem;
    margin-top: -11rem;
    width: 50%;
  }
  .anime-details-container .anime-cover-image .details .anime-title {
    font-size: 2.5rem;
  }
  .anime-details-container .anime-cover-image .details p {
    font-size: 1.2rem;
  }
  .anime-details-container .anime-cover-image .details .button-holder {
    display: flex;
    flex-direction: row;
  }
  .anime-details-container .anime-cover-image .details .button-holder span {
    margin-right: 1rem;
  }
  .anime-details-container .anime-cover-image .details .button-holder span .btn {
    margin-top: 0;
  }
  .anime-details-container .anime-cover-image .details .button-holder:nth-child(2) {
    padding: 1.3rem;
  }
  .anime-details-container .description {
    overflow: hidden;
    text-overflow: ellipsis p;
    text-overflow-max-width: 350px;
  }
  video {
    width: 750px;
    aspect-ratio: 16/9;
  }
  .fa-solid.fa-play {
    padding-right: 0.4rem;
    padding-left: 0.6rem;
  }
  .video-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 15rem;
    padding: 5rem;
  }
  .btn {
    margin-top: 4rem;
  }
  .details2 {
    position: relative;
    margin: 4rem 0rem;
    left: 5%;
  }
  .details2 .description-div {
    position: relative;
    font-size: 1.3rem;
    max-width: 90%;
  }
  .details2 .side-div {
    position: relative;
  }
  .details2 .side-div .studio-div, .details2 .side-div .genre-div, .details2 .side-div .airing-div, .details2 .side-div .type-div {
    position: relative;
    font-size: 1.2rem;
    max-width: 50%;
    margin-bottom: 2rem;
    width: 100%;
  }
  .episode-holder {
    position: relative;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 4rem;
  }
  .episode-holder .title-holder {
    max-width: 900px;
  }
  .episode-holder .title-holder h3 {
    display: inline;
    padding-right: 0.4rem;
  }
  .episode-holder .sub-div {
    width: 90%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(10, 0.6fr);
    grid-gap: 1rem;
    justify-content: start;
    box-sizing: border-box;
    position: relative;
  }
  .episode-holder .sub-div .episode-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    color: rgb(154, 154, 154);
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 5px;
    max-width: 66px;
  }
  .episode-holder .sub-div .episode-button:hover {
    cursor: pointer;
    background-color: #434242;
  }
  .episode-holder .sub-div .episode-button.current {
    background-color: white;
    color: rgb(0, 0, 0);
  }
  .latest-release {
    margin-top: 5rem;
  }
}
@media (max-width: 1199px) {
  .anime-details-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .anime-details-container .background-image {
    position: relative;
    width: 100vw;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .anime-details-container .gradient-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 25%, #000);
  }
  .anime-details-container .anime-cover-image {
    position: relative;
    bottom: -35%;
    margin-top: -10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .anime-details-container .anime-cover-image .cover-image {
    max-height: 400px;
    padding-right: 1.5rem;
  }
  .anime-details-container .anime-cover-image .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 50%;
  }
  .anime-details-container .anime-cover-image .details .anime-title {
    font-size: 2.5rem;
    text-align: center;
  }
  .anime-details-container .anime-cover-image .details p {
    font-size: 1.2rem;
    text-align: center;
  }
  .anime-details-container .anime-cover-image .details .button-holder {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
  }
  .anime-details-container .anime-cover-image .details .button-holder span {
    margin: 1rem;
  }
  .anime-details-container .anime-cover-image .details .button-holder span .btn {
    margin-top: 0;
  }
  .anime-details-container .anime-cover-image .details .button-holder:nth-child(2) {
    padding: 1.3rem;
  }
  .anime-details-container .description {
    overflow: hidden;
    text-overflow: ellipsis p;
    text-overflow-max-width: 350px;
  }
  video {
    width: 750px;
    aspect-ratio: 16/9;
  }
  .fa-solid.fa-play {
    padding-right: 0.4rem;
    padding-left: 0.6rem;
  }
  .video-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 15rem;
    padding: 5rem;
  }
  .btn {
    margin-top: 4rem;
  }
  .details2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 4rem 0rem;
  }
  .details2 .description-div {
    position: relative;
    text-align: center;
    max-width: 90%;
  }
  .details2 .side-div {
    position: relative;
    width: 90%;
  }
  .details2 .side-div .studio-div, .details2 .side-div .genre-div, .details2 .side-div .airing-div, .details2 .side-div .type-div {
    position: relative;
    font-size: 1.2rem;
    max-width: 98%;
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
  }
}
.latest-release {
  margin-top: 5rem;
}

/*# sourceMappingURL=animeoutput.css.map */
